<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Phone email login template 2">
    <meta name="keywords" content="free SMS,OTP,phone email,free sms otp service">
    <meta name="author" content="">
    <link href="https://resource.phone.email/css/iori_style.min.css" rel="stylesheet">
    <title>Phone Email Login Template - 2</title>
</head>

<body>

    <main class="main">
        <section class="section mt-30">
            <div class="container">
                <div class="box-banner-shop-list bg-4">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center order-2 order-md-1">
                            <div class="box-banner-image p-2 bg-10"><img class=""
                                    src="https://resource.phone.email/images/wm_login-animation.gif" alt="phone email">
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 px-3">
                            <div class="box-info-banner-shop-list">
                                <h2 class="color-gray-800 mb-20">Sign in with Phone</h2>
                                <p class="mb-30 font-lg color-grey-500">To access your account</p>
                                <div class="d-flex">
                                    <form class="custom-form mb-3">
                                        <div class="form-group my-1 btn-otp d-flex justify-content-center ">
                                            <div class="pe_signin_button" data-client-id="13173857965042182049"><script src="https://www.phone.email/sign_in_button_v1.js" async></script></div>
                                            <script>
                                                function phoneEmailListener(userObj){
                                                    var user_json_url = userObj.user_json_url;
                                                    location.href = '/phone-callback/?user_json_url='+user_json_url+''
                                            }
                                                </script>
                                        </div>
                                    </form>
                                </div>

                                <div class="mt-20 mb-20">
                                    <p class="mb-10 font-xs">By signing in you agree to our Terms &amp; Conditions.</p>
                                    <a class="text-primary font-xs" href="https://www.phone.email/privacy-policy"
                                        target="_blank">Privacy
                                        Policy</a> &nbsp; |
                                    &nbsp;
                                    <a class="text-primary font-xs" href="https://www.phone.email/terms-condition"
                                        target="_blank">Terms
                                        &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>