{% extends "base/base.html" %}
{% load static %}



{% block content %}

<br><br>
<section class="policy-section">
    <div class="container">
        <h1>Privacy Policy</h1>
        <p><strong>1. Introduction:</strong> This Privacy Policy outlines how Sodam Oil collects, uses, and protects user data.</p>
        
        <p><strong>2. Information We Collect:</strong> Personal information includes Name, address, contact number, email, and payment details.</p>
        
        <p><strong>3. How We Use Your Information:</strong> We use it to process orders, send updates, and improve our services.</p>
        
        <p><strong>4. Data Protection and Security:</strong> We implement industry-standard security measures to protect user data.</p>
        
        <p><strong>5. Data Sharing and Third Parties:</strong> We do not sell user information but may share it with logistics and payment service providers.</p>
        
        <p><strong>6. Cookies and Tracking Technologies:</strong> Our website uses cookies for an enhanced user experience.</p>
        
        <p><strong>7. User Rights:</strong> Users may request access, modification, or deletion of their personal data.</p>
        
        <p><strong>8. Changes to Privacy Policy:</strong> We may update this policy periodically.</p>
        
        <p><strong>9. Contact Us:</strong> For questions, contact us at <a href="mailto:sodamfoods@gmail.com">sodamfoods@gmail.com</a>.</p>
    </div>
</section>











{% endblock %}